.skillsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: rgb(9, 139, 172);
    color: white;
    gap: 2rem;
}

.actualSkills{
    display: flex;
    gap: 3rem;
}

.futureSkills{
    display: flex;
    gap: 3rem;
    padding-bottom: 2rem;
}

.title{
    font-size: 20pt;
}

@media screen and (max-width: 1201px) {
    .actualSkills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}

@media screen and (max-width: 870px) {
    .futureSkills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    @media screen and (max-width: 675px) {
        .actualSkills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
    
        }
    }

    @media screen and (max-width: 500px) {
        .actualSkills img{
            max-width: 60%;
        }

        .futureSkills img{
            max-width: 60%;
        }
    }

    @media screen and (max-width: 425px) {

        .title{
            font-size: 15pt;
        }
    }

    @media screen and (max-width: 300px) {
        .actualSkills{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}