.introPage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.photo{
    text-align: center;
}
.photo img{
    width: 250px;
    height: 300px;
    border-radius: 10%;
}

.info{
    font-size: 25pt;
    width: 45ch;
    text-align: left;
    margin-left: 50px;
    
}

.typingDemo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-size: 35pt;
}

@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media screen and (max-width: 1068px) {
    .introPage {
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
    }

    .info{
        width: 35ch;
    }
}

@media screen and (max-width: 945px) {

    .photo img{
        width: 200px;
        height: 250px;
    }
    .info{
        width: 25ch;
        font-size: 20pt;
    }
    .introPage {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .typingDemo{
        font-size: 30pt;
    }
}

@media screen and (max-width: 750px) {

    .info{
        font-size: 15pt;
    }

    .typingDemo{
        font-size: 20pt;
    }

    @media screen and (max-width: 560px) {
    
        .typingDemo{
            font-size: 19pt;
        }
    }

    @media screen and (max-width: 350px) {

        .info{
            font-size: 13pt;
        }
    
        .typingDemo{
            font-size: 17pt;
        }
    }
}

