.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SocialMedia img {
    max-width: 20%;
}

.SocialMedia a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SocialMedia img:hover{
    filter: invert(100%) 
}