.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.SocialMedia img {
    width: 3.5em;
}


@media screen and (max-width: 1068px) {

    .SocialMedia{
        display: flex;
        flex-direction: row;
    }
    
}

@media screen and (max-width: 750px) {

    .SocialMedia{
        display: flex;
        gap: 20px;
    }

    @media screen and (max-width: 560px) {
    
        .SocialMedia{
            gap: 5em;
        }
        }

    @media screen and (max-width: 413px) {
    
        .SocialMedia{
            display: flex;
            gap: 4em;
        }
    }

    @media screen and (max-width: 320px) {
    
        .SocialMedia{
            display: flex;
            gap: 2em;
        }
    }
    
}