.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SocialMedia img {
    max-width: 20%;
}

.SocialMedia a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SocialMedia img:hover{
    filter: invert(100%) 
}

@media screen and (max-width: 1068px) {

    .SocialMedia img {
        max-width: 20%;
    }

    .SocialMedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
}

@media screen and (max-width: 750px) {

    .SocialMedia img {
        max-width: 25%;
    }

    .SocialMedia{
        display: flex;
        gap: 20px;
    }

    @media screen and (max-width: 350px) {

        .SocialMedia img {
            max-width: 30%;
        }
    
        .SocialMedia{
            display: flex;
            gap: 10px;
        }
    }
    
}