.NavBarMobile{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: aliceblue;
    z-index: 1;
}

.NavMenuMobile{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem
}

.burguerMenu{
    cursor: pointer;
}

.NavMenuMobile li a {
    text-decoration: none;
    color: #34B0BE
}
.NavMenuMobile ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    font-size: 15pt;
}

.NavMenuMobile ul li {
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
}
.NavMenuMobile ul li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: #8ee9f3;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.NavMenuMobile ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 800px) {
    .NavMenuMobile {
        display: flex;
    }
    .NavBarMobile{
        display: flex;
    }
}
