
.contactPage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}


/* ---------------------- LEFT CONTAINER ----------------------*/

.leftContainer {
    display: flex;
    width: 40%;
    height: 660px;
    background-color: #00b4cf;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.leftInfo h2 {
    font-size:28pt;
    margin-bottom:3rem;
    text-align: center;
}

.leftInfo p {
    font-size:15pt;
    text-align: center;
    width: 25ch;
}


/* ---------------------- RIGHT CONTAINER ----------------------*/

.title{
    text-align: center;
}

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 660px;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form > input{
    height: 3rem;
    border: 1px solid #00b4cf;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

form > textarea{
    height:6rem;
    width: 15rem;
    border: 1px solid #00b4cf;
    border-radius: 10px;
    resize:none;
    text-align: center;
}

input:focus, textarea:focus{
    outline:1px solid #067e91;
}

form > span{
    font-size: 10pt;
    padding-left: 3%;
    color: red;
}

.button {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor:pointer;
}

.button:hover {
    opacity:0.7;
}

@media screen and (max-width: 960px) {
    .contactPage {
        padding: 8rem 0 5rem 0;

        justify-content: center;
    }

}

@media screen and (max-width: 665px) {
    .leftInfo h2 {
        font-size:20pt;
        text-align: center;
    }
    
    .leftInfo p {
        font-size:12pt;
        text-align: center;
        width: 20ch;
    }

    form > input{
        height: 2rem;
        width: 50%;
        text-align: center;
    }
    
    form > textarea{
        height:4rem;
        width: 10rem;
    }
    
    form > span{
        font-size: 8pt;
    }

    .title{
        font-size: 10pt;
    }

}

@media screen and (max-width: 475px) {
    .contactPage{
        flex-direction: column;
    }

    .leftInfo h2 {
        font-size:15pt;
    }
    
    .leftInfo p {
        font-size:12pt;
        width: 15ch;
    }

    form > input{
        height: 2rem;
        width: 90%;
    }
    
    form > textarea{
        width: 90%;
    }
    
    form > span{
        font-size: 8pt;
    }

    .title{
        font-size: 9pt;
    }

    .button {
        font-size: 7pt;
    }
}

@media screen and (max-width: 350px) {

    .title{
        font-size: 7pt;
    }

    .leftInfo h2 {
        font-size:12pt;
    }
    
    .leftInfo p {
        font-size:9pt;
        width: 12ch;
    }
}