
.contactPage{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding: 8rem;
}


/* ---------------------- LEFT CONTAINER ----------------------*/

.leftContainer {
    display: flex;
    width: 40%;
    height: 460px;
    background-color: #00b4cf;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.leftInfo h2 {
    font-size:28pt;
    margin-bottom:3rem;
    text-align: center;
}

.leftInfo p {
    font-size:15pt;
    text-align: center;
    width: 25ch;
}


/* ---------------------- RIGHT CONTAINER ----------------------*/

.title{
    text-align: center;
}

.contactForm {
    width: 40%;
    height: 460px;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form > input,
form > textarea{
    height: 30px;
    border: 1px solid #00b4cf;
    border-radius: 10px;
    width: 50%;
}

form > textarea{
    height:4rem;
    resize:none;
}

input:focus, textarea:focus{
    outline:1px solid #067e91;
}

form > span{
    font-size: 10pt;
    max-width: 20vw;
    padding-left: 3%;
    color: red;
}

.button {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 0 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor:pointer;
}

.button:hover {
    opacity:0.7;
}

